/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}


/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Links */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}

/* Typography */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
  text-align: justify;
}

small {
  font-size: 75%;
}


/* Lists */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}


body {
  padding: 0px 0 20px 0px;
  margin: 0px;
  font: 14px/1.5 Arial, Helvetica, sans-serif;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  margin: 0 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: black;
}

a {
  color: #1293EE;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a small {
  font-size: 11px;
  margin-top: -0.6em;
  display: block;
}

ul {
	list-style: disc;
}

strong {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.wrapper {
  max-width: 750px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

section img {
  max-width: 100%;
}

dt {
  /*color: #F0E7D5;*/
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
a.anchor {
  display: block;
  position: relative;
  top: -50px;
}
#header {
  z-index: 100;
  left: 0;
  top: 0px;
  height: 40px;
  width: 100%;
  position: fixed;
  background:  white;
  border-bottom: 1px solid black;
}
#header nav {
  margin: 0 auto;
  padding: 0 10px;
  margin: 1px auto;
  text-align: center;
}
#header nav li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  list-style: none;
  display: inline;
  line-height: 40px;
  font-size: 14px;
}
#header nav li a {
  font-weight: normal;
  color: #1293EE;
  padding: 5px 4px;
  margin-top: 6px;
  line-height: 14px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}
#header nav li a:hover {
  color: black;
  text-decoration: none;
}
#header nav li.fork {
  float: inherit;
  margin-left: 0px;
}
#header nav li.title {
  float: right;
  margin-right: 10px;
  font-size: 11px;
}

section {
  max-width: 750px;
  padding: 0px 0px 20px 0px;
  margin: 20px 0;
  margin-top: 60px;
}
section #title {
  border: 0;
  outline: none;
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
}
section #title h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  line-height: 36px;
}
section #title p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}
section #title .credits {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
section #title .credits.left {
  float: left;
}
section #title .credits.right {
  float: right;
}
